/*!*********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./src/components/advertisement/ad.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************/
.advert span {
  display: flex;
  margin-bottom: 21px;
  font-weight: 600;
  font-size: 25px;
}

/*!*******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./src/features/banner/ui/banner.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************/
.banner {
  display: flex;
  text-align: center;
  align-items: center;
  padding-top: 33px;
}

.start-buy {
}

.btn-start {
  display: flex;
  margin-left: 35px;

  line-height: 40px;
  align-items: center;
  border-radius: 21px;
  width: 360px;
  position: absolute;
  height: 110px;
  margin-top: 290px;
}

.start-buy {
  display: flex;
  text-align: left;

  color: white;

  float: left;
  word-break: normal;
  font-size: 38px;
  font-weight: bolder;
}

.arrow {
  display: flex;
  padding-right: 35px;
}

/*!********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./src/widgets/catalog-items/ui/catalog-items.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************/
.card {
  border: 1px solid #d3d3d3;
  padding: 15px;
  width: 336px;
  height: 497px;
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
  /* box-shadow: 0.01px 0.01px 6px rgba(0, 0, 0, 0.178); */
  /* box-shadow: -2px 3px 4px rgba(0, 0, 0, 0.178); */
  transition: all 0.3s ease;

  margin-bottom: 20px;
}

.card:hover {
  box-shadow: 0.01px 0.01px 6px #5c5c5c;
  /* rgba(0, 0, 0, 0.178) */
  transform: translate(-0px, -10px);
  transition: all 0.3s ease;
}

.card p {
  color: #868686;
  padding-top: 25px;
  font-size: 14px;
  font-weight: 400;
}

.card span {
  color: black;
  font-size: 19px;
  font-weight: 500;
  padding-top: 11px;
}

.card b {
  color: black;
  font-size: 30px;
  font-weight: 600;
}

.categories {
}

.Products span {
  display: flex;
  padding-top: 21px;
  margin-bottom: 25px;
  font-weight: 600;
  font-size: 25px;
}

.Products a {
  display: flex;
  padding-top: 11px;
  padding-bottom: 11px;
  font-weight: 600;
  font-size: 22px;
}

.textBtn {
  display: flex;
  font-weight: 400;
  font-size: 23px;
  column-gap: 13px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.add {
  position: absolute;
  display: flex;
  height: 42px;
  width: 302px;

  justify-content: center;
  align-items: center;
  text-align: center;
  transition: 0.3s ease;

  border-radius: 14px;
  color: #e6e6e6;
}

.add:hover {
  border-radius: 3px;
  transition: 0.3s ease;
  border-radius: 8px;
}

.img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 270px;
  width: 303px;
  background-color: white;
  border-radius: 8px;
}

.img2 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 52px;
  width: 303px;
}

.tovary {
  flex-wrap: wrap;
  display: flex;
  column-gap: 12px;
}

.classes {
}

/*!************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./src/widgets/ex-header/ui/ex-header.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************************/
.ex_content {
  display: flex;
  padding-top: 20px;
  padding-left: 160px;
  column-gap: 110px;
  align-items: center;
}

.ex_instruments {
  display: flex;
  column-gap: 40px;
}

.ex_instruments span {
  font-weight: 500;
  font-size: 19px;
  line-height: 1.5;
  letter-spacing: 0.03em;
}

.search {
  width: 791px;
  height: 42px;
  padding-left: 15px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 0 2px #0098c8;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.search .input {
  width: 791px;
  height: 42px;
  display: flex;
  text-align: center;
}

.searchbt button {
  display: flex;
  position: relative;
  width: 42px;
  height: 42px;
  background: linear-gradient(#0098c8, #2ecfff);
  border-radius: 0 8px 8px 0;
  cursor: pointer;
}

.metronom {
  display: flex;
  align-items: center;
}
.tuner {
  display: flex;
  align-items: center;
}

.search img {
  padding: 9px 13px;
  display: flex;
  position: absolute;
  z-index: 999;
  cursor: pointer;
}

/*!********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./src/components/recommended/rec.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************/
.Recommendation {
  display: flex;
}

.Recommendation ul {
  display: flex;
  column-gap: 56px;
}

.Recommendation img {
  border-radius: 8px;
}

.Recommendation span {
  display: flex;
  padding-top: 21px;
  padding-bottom: 21px;
  font-weight: 600;
  font-size: 25px;
}

.rec-categories {
  padding-bottom: 21px;
}

